.checkbox {
  border-radius: 100%;
  height: 2.6rem;
  width: 2.6rem;
  border: 1px solid var(--shadow);
  margin-right: 2rem;
  flex-shrink: 0;

  cursor: pointer;
}
.checkbox-btn {
  border-radius: 100%;
  height: 2.6rem;
  width: 2.6rem;
  border: 1px solid var(--shadow);
  margin-right: 2rem;
  flex-shrink: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.checkbox-input {
}

.checked {
  background-image: linear-gradient(
    144deg,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
}

.crossedOff {
  color: var(--LightGrayishBlue);
  text-decoration: line-through;
}

.footer {
  // background-color: khaki;
  text-align: center;
  position: absolute;
  bottom: 5%;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
}
